<div class="main-panel-header_inner">
	{{#if topText }}
	  <h1>
	    {{ topText }}

	    {{#if secondText }}
	      <span>{{ secondText }}</span>
	    {{/if}}

	  </h1>
	{{/if}}

	{{#if bottomText }}
	  <p>{{ bottomText }}</p>
	{{/if}}
</div>