.main-editable-custom {
	width: 100%;
	display: flex;
  flex-flow: column;
  padding: 15px 15px;
  position: relative;
  transition: $c-transition;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: $c-border-radius;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

  &:not(.main-editable-custom--editing) {
    cursor: pointer;
  }

  &:hover, &.main-editable-custom--editing {
    &:before {
      opacity: 1;
    }
  }

  &:before {
    content: '';
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    position: absolute;
    transition: $c-transition;
    opacity: 0;
    background-color: $orange;
  }

  .main-editable-input_editable {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .main-editable-input_display {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: $grey-1;

    svg {
      width: 10px;
      height: 10px;
      margin-left: 10px;
      color: $grey-1;
    }
  }

  .main-editable-custom_buttons {
    right: 0;
    display: flex;
    position: absolute;

    button {
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $c-transition;
      cursor: pointer;
      outline: none;
      background-color: transparent;
      border: none;

      &:first-of-type {
        border-radius: $c-border-radius 0 0 $c-border-radius;
      }

       &:last-of-type {
        border-radius: 0 $c-border-radius $c-border-radius 0;
      }

      &:hover {
        background-color: $orange;

        svg {
          color: #ffffff;
        }
      }

      svg {
        width: 14px;
        height: 14px;
        color: $grey-1;
      }
    }
  }

}