.page-panel {
  width: 100%;
  margin-left: 200px;
  //padding: 20px;
}

.page-panel_inner {
  //height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
