.page-registration_diagnosis {

  .page-registration_diagnosis_select {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 15px;
    text-align: left;
    box-sizing: border-box;
  }

  textarea {
    min-height: 150px;
  }

}
