.svg_arrow_left {
  width: 791.966px;
  height: 791.967px;
}

.svg_arrow_right {
  width: 792.033px;
  height: 792.033px;
}

.svg_article {
  width: 512px;
  height: 512px;
}

.svg_audio {
  width: 512px;
  height: 512px;
}

.svg_cancel {
  width: 47.971px;
  height: 47.971px;
}

.svg_clock-pending {
  width: 491.276px;
  height: 491.276px;
}

.svg_diagnosis {
  width: 371px;
  height: 371px;
}

.svg_edit {
  width: 528.899px;
  height: 528.899px;
}

.svg_envelope {
  width: 512px;
  height: 512px;
}

.svg_file {
  width: 512px;
  height: 512px;
}

.svg_groups {
  width: 512px;
  height: 512px;
}

.svg_home {
  width: 301.884px;
  height: 301.884px;
}

.svg_image {
  width: 487.482px;
  height: 487.482px;
}

.svg_loader {
  width: 250px;
  height: 250px;
}

.svg_menu {
  width: 124px;
  height: 124px;
}

.svg_microphone {
  width: 264.02px;
  height: 264.02px;
}

.svg_new-message {
  width: 512.001px;
  height: 512.001px;
}

.svg_ok {
  width: 512px;
  height: 512px;
}

.svg_plus {
  width: 42px;
  height: 42px;
}

.svg_reports {
  width: 512px;
  height: 512px;
}

.svg_save {
  width: 459.74px;
  height: 459.74px;
}

.svg_send {
  width: 472.615px;
  height: 472.615px;
}

.svg_settings {
  width: 478.703px;
  height: 478.703px;
}

.svg_students {
  width: 31.936px;
  height: 31.936px;
}

.svg_triangle_down {
  width: 292.362px;
  height: 292.362px;
}

.svg_user {
  width: 487.6px;
  height: 487.6px;
}

.svg_video {
  width: 611.921px;
  height: 611.921px;
}

