.color-bg_orange {
  background-color: $orange;
}
.color-bg_green {
	background-color: $green;
}
.color-bg_red {
	background-color: $red;
}



.color_text_orange {
	color: $orange;
}


.color-bg_white {
  background-color: #ffffff;
}


.color-text_red {
  color: $red;
}


.color-text_green {
  color: $green;
}


.color-text_white {
  color: #ffffff;
}
